body{
  background-color:#343a40;
}

.heading{
  color:#e9ecef;
  text-align: center;
  margin-top: 10px;

}
.item1{
  align-items: center;
  margin-top: 30px;
}

.button{
background-color: #212529;
}

.footer{
  color: WHite;
  text-align: center;
  margin-top: 40rem;
}
